*.o
*.txt
*.csv
*.dat
*.jpg
*.pdf
./*/.*

*/.vscode
.ipynb_checkpoints

./data
./cpp/obj

# ./cpp/multiobj

./python/scripts/graph_nodes
./scripts/graph_nodes_edges
./scripts/kp

.*/out_final_3
.*/out_final_5
.*/out_final_7

# ./code/multiobj

python/SMAC3-master
python/scripts
python/learn2rank/resources
python/outputs_final
python/outputs
python/instances
*.pyc
*.idea
*multiobj