*.o
*.txt
*.csv
*.dat
*.jpg
*.pdf

*/.vscode

./data
./obj

./code/multiobj

./scripts/graph_nodes
./scripts/graph_nodes_edges
./scripts/kp

./scripts/out_final_3
./scripts/out_final_5
./scripts/out_final_7